@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 10%;
}